<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    
    
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <!--Pattern regex-->
    <add key="validateIP" value="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" />
    <add key="validateMac" value="^[a-fA-F0-9]{12}$" />
    <!--End pattern regex-->
    <!--Manejo de errores hacia el cliente-->
    <add key="usuarioNoExiste" value="Debe contener un usuario." />
    <add key="ipNoExiste" value="La ip no fue enviada." />
    <add key="ipNoValida" value="La ip enviada no es valida." />
    <add key="macNoExiste" value="La mac no fue enviada." />
    <add key="macNoValida" value="La mac enviada no es valida." />
    <!--Fin manejo de errores hacia el cliente-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>